In [5]:
import pandas as pd
d1={"Name":["Ram","Vinay","Sai"],"Age":[20,21,22]}
d2={"Qualified":[True,True,False]}
d1=pd.DataFrame(d1)
print(d1)

    Name  Age
0    Ram   20
1  Vinay   21
2    Sai   22

In [4]:
d2=pd.DataFrame(d2)
print(d2)
newd=d1.join(d2)
print(newd)

   Qualified
0       True
1       True
2      False
    Name  Age  Qualified
0    Ram   20       True
1  Vinay   21       True
2    Sai   22      False

In [9]:
d1={"Name":["Ram","Vinay","Sai"],"Age":[20,21,22]}
d2={"Name":["Raj","Vishal","Siva"],"Age":[20,21,22]}
df1=pd.DataFrame(d1)
print(df1)
df2=pd.DataFrame(d2)
newdf1=df2.merge(df1,on='Age')
print(newdf1)

    Name  Age
0    Ram   20
1  Vinay   21
2    Sai   22
   Name_x  Age Name_y
0     Raj   20    Ram
1  Vishal   21  Vinay
2    Siva   22    Sai

In [14]:
df=pd.DataFrame({"Team":["A","B","C","D"],"Points":[90,56,78,88],"Assits":[12,34,23,44],"Rebounds":[56,43,55,12]})
x=pd.melt(df,id_vars="Team",value_vars=["Points","Assits","Rebounds"])
print(x)

   Team  variable  value
0     A    Points     90
1     B    Points     56
2     C    Points     78
3     D    Points     88
4     A    Assits     12
5     B    Assits     34
6     C    Assits     23
7     D    Assits     44
8     A  Rebounds     56
9     B  Rebounds     43
10    C  Rebounds     55
11    D  Rebounds     12