In [3]:
import pandas as pd
pd.set_option('display.max_column',5)
df=pd.read_excel("Marks.xlsx")
print(df)

   Unnamed: 0  S. No  ...  Social  Total
0           0      1  ...      76    409
1           1      2  ...      77    410
2           2      3  ...      78    460
3           3      4  ...      79    430
4           4      5  ...      80    450
5           5      6  ...      81    460
6           6      7  ...      83    470
7           7      8  ...      84    480
8           8      9  ...      85    490
9           9     10  ...      90    390

[10 rows x 9 columns]

In [4]:
k=df.fillna(method='pad')
print(k)
print("Uploaded line\n")
k.to_excel("Marks.xlsx")

   Unnamed: 0  S. No  ...  Social  Total
0           0      1  ...      76    409
1           1      2  ...      77    410
2           2      3  ...      78    460
3           3      4  ...      79    430
4           4      5  ...      80    450
5           5      6  ...      81    460
6           6      7  ...      83    470
7           7      8  ...      84    480
8           8      9  ...      85    490
9           9     10  ...      90    390

[10 rows x 9 columns]
Uploaded line

<ipython-input-4-cb9f38a8f031>:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  k=df.fillna(method='pad')

In [8]:
k.drop(['Social'],axis=1,inplace=True)
print(k)
k.to_excel("Marks.xlsx")

   Unnamed: 0  S. No  ...  Science  Total
0           0      1  ...       65    409
1           1      2  ...       69    410
2           2      3  ...       99    460
3           3      4  ...       89    430
4           4      5  ...       90    450
5           5      6  ...       98    460
6           6      7  ...       87    470
7           7      8  ...       92    480
8           8      9  ...       98    490
9           9     10  ...      100    390

[10 rows x 8 columns]

In [11]:
print("Drop NaN row:\n")
df=pd.read_excel("Marks.xlsx")
print(df)
x=df.dropna()
print(x)
x.to_excel("Marks.xlsx")

Drop NaN row:

   Unnamed: 0.2  Unnamed: 0.1  ...  Science  Total
0             0             0  ...       65    409
1             1             1  ...       69    410
2             2             2  ...       99    460
3             3             3  ...       89    430
4             4             4  ...       90    450
5             5             5  ...       98    460
6             6             6  ...       87    470
7             7             7  ...       92    480
8             8             8  ...       98    490
9             9             9  ...      100    390

[10 rows x 10 columns]
   Unnamed: 0.2  Unnamed: 0.1  ...  Science  Total
0             0             0  ...       65    409
1             1             1  ...       69    410
2             2             2  ...       99    460
3             3             3  ...       89    430
4             4             4  ...       90    450
5             5             5  ...       98    460
6             6             6  ...       87    470
7             7             7  ...       92    480
8             8             8  ...       98    490
9             9             9  ...      100    390

[10 rows x 10 columns]

In [12]:
print("Replace values:\n")
n=pd.read_excel("Marks.xlsx")
print(n)
y=n.replace({80:90})
print(y)
y.to_excel("Marks.xlsx")

Replace values:

   Unnamed: 0.3  Unnamed: 0.2  ...  Science  Total
0             0             0  ...       65    409
1             1             1  ...       69    410
2             2             2  ...       99    460
3             3             3  ...       89    430
4             4             4  ...       90    450
5             5             5  ...       98    460
6             6             6  ...       87    470
7             7             7  ...       92    480
8             8             8  ...       98    490
9             9             9  ...      100    390

[10 rows x 11 columns]
   Unnamed: 0.3  Unnamed: 0.2  ...  Science  Total
0             0             0  ...       65    409
1             1             1  ...       69    410
2             2             2  ...       99    460
3             3             3  ...       89    430
4             4             4  ...       90    450
5             5             5  ...       98    460
6             6             6  ...       87    470
7             7             7  ...       92    480
8             8             8  ...       98    490
9             9             9  ...      100    390

[10 rows x 11 columns]

In [16]:
df=pd.read_excel("Marks.xlsx")
print(df)
print("Extract using isin() function:\n")
new=df['Maths'].isin([90])
print(df[new])

   Unnamed: 0.4  Unnamed: 0.3  ...  Science  Total
0             0             0  ...       65    409
1             1             1  ...       69    410
2             2             2  ...       99    460
3             3             3  ...       89    430
4             4             4  ...       90    450
5             5             5  ...       98    460
6             6             6  ...       87    470
7             7             7  ...       92    480
8             8             8  ...       98    490
9             9             9  ...      100    390

[10 rows x 12 columns]
Extract using isin() function:

   Unnamed: 0.4  Unnamed: 0.3  ...  Science  Total
0             0             0  ...       65    409

[1 rows x 12 columns]