In [ ]:
import pandas as pd
a=pd.DataFrame()
print(a)

Empty DataFrame
Columns: []
Index: []

In [ ]:
import pandas as pd
a=pd.Series(['Darshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
b={'NAME':a,'ID':id}
res=pd.DataFrame(b)
print("Series to dataframe:\n")
print(res)

Series to dataframe:

        NAME  ID
0    Darshan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [ ]:
import pandas as pd
a=pd.Series(['Darshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
b={'NAME':a,'ID':id}
res=pd.DataFrame(b)
print("Extracting one column:\n")
print(res['NAME'])

Extracting one column:

0      Darshan
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: NAME, dtype: object

In [ ]:
import pandas as pd
a=pd.Series(['Darshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
b={'NAME':a,'ID':id}
print("Adding new columns:\n")
res['Age']=pd.Series([30,28,37,25,26])
print(res)

Adding new columns:

        NAME  ID  Age  AGE
0    Darshan  80   30   30
1     Sudeep  90   28   28
2       Siva  28   37   37
3       Yash  57   25   25
4  Keerthana  49   26   26

In [ ]:
import pandas as pd
a=pd.Series(['Darshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
age=pd.Series([30,28,37,25,26])
b={'NAME':a,'ID':id,'AGE':age}
res=pd.DataFrame(b)
print("Extracting the second row:\n",res.loc[1])

Extracting the second row:
 NAME    Sudeep
ID          90
AGE         28
Name: 1, dtype: object

In [ ]:
import pandas as pd
a=pd.Series(['Darshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
age=pd.Series([30,28,37,25,26])
b={'NAME':a,'ID':id,'AGE':age}
res=pd.DataFrame(b)
print("Deleting one column:")
del res['AGE']
print(res)

Deleting one column:
        NAME  ID
0    Darshan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [1]:
import pandas as pd
a=pd.Series(['Darshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
age=pd.Series([30,28,37,25,26])
b={'NAME':a,'ID':id,'AGE':age}
res=pd.DataFrame(b)
print("Slice rows :\n",res[1:4])

Slice rows :
      NAME  ID  AGE
1  Sudeep  90   28
2    Siva  28   37
3    Yash  57   25

In [4]:
import pandas as pd
a=pd.Series(['Darshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
b={'NAME':a,'ID':id}
res=pd.DataFrame(b)
d=pd.DataFrame([['Charan',30],['Prashanth',60]],columns=['NAME','ID'])
print("Adding new row values:\n",pd.concat([res,d]))

Adding new row values:
         NAME  ID
0    Darshan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49
0     Charan  30
1  Prashanth  60

In [5]:
import pandas as pd
a=pd.Series(['Darshan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
age=pd.Series([30,28,37,25,26])
b={'NAME':a,'ID':id,'AGE':age}
res=pd.DataFrame(b)
print("Deleting particular row:\n",res.drop(4))

Deleting particular row:
       NAME  ID  AGE
0  Darshan  80   30
1   Sudeep  90   28
2     Siva  28   37
3     Yash  57   25